{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4 leftcol " style="min-height: 500px;">
      <div class="title-text"><b>Felipe Modesto</b>, <i>Human Multi-tool</i></div>
      <img src="/switch.png" class="vertical-center" alt="Switch Swiss-army Core" style="width:300px">
      <div class="title-text-bottom">FYI, this thing is a work in progress so it might look weird until I have to start looking for a job. Cheers.</div>
    </div>
    <div class="col-md-8 col-xs-12">
      <div id="rightcol">
        <section>
          <div class="row">
            <div class="army-skill col-xs-12 skill_one">
              <div class="vertical-center-skill">
                <h1>About</h1>
                <hr style="border-color: #000000">
                <br>
                <p style="text-align: : center">Why hello there, welcome to my personal website.</p>
                <p style="text-align: : center">My name is Felipe de Moraes Modesto. I like to think of myself as a versatile person.
                Below you will find a brief description of my skills and interests.</p>
                <p>
                If I had to pick one regret it would be not to have photographed the stuff I made more.
                But that's ok, i'll take it as a learning exercise.
                In the future I might leave project files & other interesting things I do here.</p>
                <br>
                <br>
                <div class="center-block">
                  <img src="pensative.jpg" class="img-circle" alt="Picture 02" style="height:72px">
                  <img src="maine.jpg" class="img-circle" alt="Picture 01" style="height:72px">
                  <img src="glasses.jpg" class="img-circle" alt="Picture 03" style="height:72px">
                </div>
                <br>
                <br>
                <p style="text-align: : center;"><i>To navigate, please scroll down or click on the tool image.</i></p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="row">
            <div class="army-skill col-xs-12 skill_two">
              <div class="vertical-center-skill">
                <h1>Programmer</h1>
                <hr style="border-color: #000000">
                <br>
                <p style="text-align: : center">C++, C#, Java, Lua, Python, Matlab... Hell, I probably still remember Pascal. I've been writing code for over 10 years now for a varied number of applications, from business solutions, art projects, video games, educational software, research and even a couple of personal home automation projects. I'm not saying that I'm an incredible programmer, but i'm pretty good, flexible, quick-learner. (Also kinda cocky, sorry). I wrote this very site on my own using a mix of python, bootstrap, html/css and a few components (see source code for references).</p>
                <p style="text-align: : center"> If you're curious who's been lurking around these pages, you can check some stats <a href="stats">here</a>.</p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="row">
            <div class="army-skill 2 col-xs-12" style="height:100vh; background-color: #b00b1e">
              <div class="vertical-center-skill">
                <h1 style="color: #ffffff">Designer</h1>
                <hr style="border-color: #ffffff">
                <br>
                <p style="color: #ffffff">
                My artistic vein started sprouting in grade 6, when I joined a class-based drawing group.
                I first started using <i>Adobe Photoshop</i> back in version 7.0 around 2002, introduced by a friend's older brother. I'm not great at illustration but I'm damn good at using the Adobe tool-set and am glad to say I pay for their subscription. Even before they bought Macromedia, (for which I actually did some training, God bless Macromedia Studio MX), I had already become a fan of Adobe.
                From Photoshop, Illustrator, Indesign to <s>Soundbooth</s> Audition, Premiere and After Effects, I've at least fiddled with all the tools they make available. I do own a Wacom bamboo but am not a great illustrator.
                </p>
                <p style="color: #ffffff">
                Part of my creativity comes from a natural predilection.
                I'm fully left-handed, hand, feet, eye, all left-dominant.
                Consequently, my brain is kind of wonky but in a good way, it helps with the creative side of things.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="row">
            <div class="army-skill 2 col-xs-12" style="height:100vh; background-color: #babaca">
              <div class="vertical-center-skill">
                <h1><a href="https://open.spotify.com/track/3p1JoOEhVkEnTaa4JzTMSk">Businessman</a></h1>
                <hr style="border-color: #000000">
                <br>
                <p>
                Since 2011 I have been actively working as an entrepreneur.
                Fira Soft was my first business venture and despite ups and downs it's been growing for the past 5 years.
                Our staff totals 12 people and I'm the creative director for the company.
                My responsabilities at Fira Soft include deciding on the creative process of our projects, coordinating the design team, validating work and project scope.
                The clients we've worked with range from Government Entities (CNMP, FIESC) to banks (Banco do Brasil) as well as private companies (Brasil Kirin, Maurício de Sousa).
                In early 2018 we won a <a href="https://www.ancine.gov.br/pt-br/sala-imprensa/noticias/ancine-anuncia-vencedores-do-edital-de-jogos-eletr-nicos">grant</a> from the Brazilian national arts agency to complete our game: Kriophobia.
                </p>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="row">
            <div class="army-skill 2 col-xs-12" style="height:100vh; background-color: #bada55">
              <div class="vertical-center-skill">
                <h1>Academic</h1>
                <hr style="border-color: #000000">
                <br>
                <p>Currently a Ph.D. Candidate in the Computer Science program at the University of Ottawa, my main research focus is on vehicular technology. The running topic for my thesis is <i>Service-oriented Information-centric Vehicular Ad-hoc Networks</i>, I have a few publications going around, you can check them on my <a href="https://scholar.google.ca/citations?user=hBL8yV4AAAAJ&hl=en">Google Scholar</a> page.
                </p>
                <p>
                One of my life goals is to teach undergraduate courses with the purpose of sparking student interest in developing their own projects and doing research. I've been a Teaching Assistant for several courses as well as a Content Producer for the Interface Design Course.
                I'm a practicum course away from obtaining a certificate for Undergraduate Teaching from the Faculty of Post-doctoral studies at the University of Ottawa.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="row">
            <div class="army-skill 2 col-xs-12" style="height:100vh; background-color: #faceb0">
              <div class="vertical-center-skill">
                <h1>Tinkerer</h1>
                <hr style="border-color: #000000">
                <br>
                <p>I build stuff, I break stuff, shit catches fire but it's all fine. I've only been electrocuted once andhttps://soundcloud.com/herman-ferreira I've never actually fried any of my boards.</p>
                <p>One of the projects I worked on was a virtual painting application where the user would do digital "finger painting".
                The project was part of a University program I participated while working with professor Venturelli.
                We built it before VR was the hot new thing (2008), it was very unique at the time.
                The system implemented using an Infra-red bracelet and a gyscope attached to an absuction sensor glove tracked by a 3D camera system made up of 3x Microsoft Lifecam VX-3000s with the IR filter replaced by photo negatives and placed at the edges of the XYZ axis.
                </p>
                <p>I've also done a lot of 3D printing, free-hand sculpting.
                I built a 4-player USB adapter for SNES controlers built into a SNES (2 ports were positioned in the game cartridge slot).
                If you ever saw the adapter at UnB's Computer Science CA room, that was my work.
                I've currently got a few designs available on <a href="https://www.thingiverse.com/felipe_modesto">Thingiverse</a>.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="row">
            <div class="army-skill 2 col-xs-12" style="height:100vh; background-color: #133337">
              <div class="vertical-center-skill">
                <h1 style="color: #ffffff">Musician</h1>
                <hr style="border-color: #ffffff">
                <br>
                <p style="color: #ffffff">
                "The drums... The drums [x11]" - <i>The Ting Tings, 2008</i>
                </p>
                <p style="color: #ffffff">
                I "play" drums at an intermediate level, good enough to do pro-drums on expert on rock band, not enough to play in a band. Maybe in a shitty highs-chool rock band.
                I'm not musically gifted so I didn't pursue the career but I have full understanding of musical composition, rhythm and have helped guide the tone for some of the work the incredible in-house composer we have at Fira Soft has worked on.
                (He) <a href="https://soundcloud.com/hellmz">Herman Ferreira</a>, who is also my business partner, has taught me a lot and was one of the reasons I took a course on computer audio composition during my undergraduate studies.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="row">
            <div class="army-skill 2 col-xs-12" style="height:100vh; background-color: #f1c40f">
              <div class="vertical-center-skill">
                <h1>Nerd</h1>
                <hr style="border-color: #000000">
                <br>
                <p>
                I'm a huge nerd. I don't think I could ever hide this for longer than a minute.
                I love facts, statistics, technology, science.
                I praise the scientific method (even though I am fully aware of how corrupt the academic community can be).
                </p>
                <p>
                I'm not the master of many subjects but I know a lot about a lot of things.
                While it has been proven that photographic (eidetic) memory isn't really a thing I do feel I have great memory recall, coupled with quick thinking.
                Together these skills kind of make me seem like a "know-it-all" but I wear that mantle proudly.
                For example, did you know that out of the last 6 US presidents, 4 of them were left-handed?
                <i>Reagan was ambidextreous but that was because of dumb parenting bullshit that forced him to do stuff with his right-hand.</i>
                </p>
                <br>
                <img src="/nerd.png" class="center-block" alt="Homer Simpson Nerd" style="width:200px">
                <p></p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}