{% extends "base.html" %}
{% set active_page = "stats" %}
{% block header %}

<style>
  #title_section {
    margin : 20px 20px;
  }
  .table td {
    text-align: center;
  }
</style>

{% if ipList %}

<!-- Frequency Distribution Graph -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
            ['Visit Count', 'Index'],
            {% for client in ipList %}
                [ {{ client.index }} , {{ client.accessCount }}],
            {% endfor %}
      ]);

      var options = {
        title: 'Visit Frequency Graph',
        hAxis: {title: 'Visitor Index'},
        vAxis: {title: 'Access Count'},
        legend: 'none',
        trendlines: { 0: {} },
        backgroundColor: { fill:'#f0f0f0' }
      };

    var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }

  google.charts.load('current', {
    'packages':['geochart'],
    // Note: you will need to get a mapsApiKey for your project.
    // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
    'mapsApiKey': 'AIzaSyCyc3c7emlHcdH_bZyQPHAkTV81TLM4bHU'
  });
  google.charts.setOnLoadCallback(drawRegionsMap);

  function drawRegionsMap() {
    {% if countryList %}

    var data = google.visualization.arrayToDataTable([
        ['Country', 'Popularity'],
        {% for key, value in countryList.iteritems() %}
            [ '{{ value["RegionCode"]}}' , {{ value["AccessCount"] }}],
        {% endfor %}
    ]);

    {% endif %}

    var options = {
        backgroundColor: { fill:'#f0f0f0' },
        colorAxis: {colors: ["#ffffd9","#edf8b1","#c7e9b4","#7fcdbb","#41b6c4","#1d91c0","#225ea8","#253494","#081d58"]}
    };

    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

    chart.draw(data, options);
  }

  function resize () {
    drawChart()
    drawRegionsMap()
  }

  window.onload = resize;
  window.onresize = resize;
</script>

<style>
  body {
    background-color: #babaca;
  }
</style>

{% endif %}

{% endblock %}

{% block content %}
  <div class="container-fluid" style="background-color: #babaca;">
  <div class="fixed-top"><a href="/">⌂ Home</a></div>
    <row><br></row>
    <row>
    <row>
    <h1>Visitor Location List</h1>
    <hr style="border-color: #000000">
    <br>
    </row>
        <div class="col-md-12">
            <div class="army-skill">
                    {% if ipList %}
                        <row>
                          <div class="col-md-2">
                          </div>
                          <div class="col-md-8 text-center">
                            <div id="regions_div"></div>
                            <br>
                            <div id="chart_div"></div>
                            <br>
                            Location Statistics Measurement Enabled by <a href="https://tools.keycdn.com/geo">KeyCDN</a>
                            <br>
                            <br>
                            <table class="table table-bordered">
                                <thead class="thead-inverse">
                                <tr data-toggle="collapse" data-target="#accordion" class="clickable">
                                <th class="text-center " style="background-color: #f0f0f0;">Index</th>
                                <th class="text-center " style="background-color: #f0f0f0;">Country</th>
                                <th class="text-center " style="background-color: #f0f0f0;">IP</th>
                                <th class="text-center " style="background-color: #f0f0f0;">Access Count</th>
                                </tr>
                                </thead>
                                <div id="accordion" class="collapse">
                                <tbody>
                                    {% for client in ipList %}
                                        <tr>
                                            <td class="col-md-1 text-center " style="background-color: #f0f0f0;">{{ client.index }}</td>
                                            <td class="col-md-1 text-center " style="background-color: #f0f0f0;">{{ client.location }}</td>
                                            <td class="col-md-1 text-center " style="background-color: #f0f0f0;">{{ client.ip }}</td>
                                            <td class="col-md-2 text-center " style="background-color: #f0f0f0;">{{ client.accessCount }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </div>
                            </table>
                          </div>
                          <div class="col-md-2">
                          </div>
                        </row>
                    {% endif %}
            </div>
        </div>
    </row>
    <row><br></row>
  </div>

{% endblock %}